{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container">
    <div class="row">
        <h3 class="text-center heading-space">Are you sure you want to delete this item?</h3>
        <p class="text-center"><a href="{% url 'today_specials' %}">Tap here</a> if you don't want to delete.</p>
        <div class="col-md-8 mt-3 offset-md-2">

            <form method="POST" name="form">

                {{ form | crispy }}

                {% csrf_token %}

                <div><a href="/delete_specials/{{ special.id }}">
                    <button class="btn btn-danger btn-primary" type="submit">Delete</button></a>
                </div>
            
            </form>
        </div>
    </div>
</div>

{% endblock content %}
