{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container">
    <div class="row">
        <h3 class="text-center heading-space">Edit your item</h3>
        <p class="text-center">Please use the below form to make changes.</p>
        <p class="text-center text-muted">In "Today" type please "yes" or "no"</p>
        <p class="text-center"><a href="{% url 'today_specials' %}">Tap here</a> if you don't want to edit the item.</p>
        <div class="col-md-8 mt-3 offset-md-2">

            <form method="POST" name="form">

                {{ form | crispy }}

                {% csrf_token %}

                <div>
                    <button class="btn btn-primary" type="submit">Edit</button>
                </div>
            
            </form>
        </div>
    </div>
</div>
     


{% endblock content %}
