{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Specials-->
<div class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase" style="padding-bottom: 20px;">Today's Specials</h2>
        </div>
        <div class="row text-center">
            {% for special in specials_list %}

            <div class="col-md-4">
                <span>
                    <img class="rounded-circle img-fluid" src="{{ special.image.url }}" alt="dish">
                </span>
                <h4 class="my-3">{{ special.title }}</h4>
                <p class="text-muted">{{ special.description }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Menu Grid-->
<div class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Menu</h2>
            <h3 class="section-subheading text-muted">Tap each section to see the details</h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Menu Appetizers-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'assets/img/salo.jpg' %}" alt="salo">
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Appetizers</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Menu Soups -->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'assets/img/borscht.jpg' %}" alt="borscht">
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Soups</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Menu Main Dishes-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'assets/img/chicken-kyiv.jpg' %}" alt="chicken-kyiv">
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Main Dishes</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <!-- Menu Desserts-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'assets/img/varenyky-cherry.jpg' %}"
                            alt="varenyky with cherry">
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Desserts</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                <!-- Drinks Alcohol-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal5">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'assets/img/hero-image.jpg' %}" alt="spotykach">
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Drinks</div>
                        <div class="portfolio-caption-subheading text-muted">Alcohol</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <!-- Drinks Non-Alcohol-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal6">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'assets/img/kvas.jpg' %}" alt="kvas">
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Drinks</div>
                        <div class="portfolio-caption-subheading text-muted">Non-alcohol</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact us-->
<div class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Contact Us</h2>
        </div>
        <div class="page-section">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <div class="text-center">
                            <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                                <li class="list-unstyled-item list-hours-item d-flex">
                                    Sunday
                                    <span class="ms-auto">10:00 - 23:00</span>
                                </li>
                                <li class="list-unstyled-item list-hours-item d-flex">
                                    Monday
                                    <span class="ms-auto">Closed</span>
                                </li>
                                <li class="list-unstyled-item list-hours-item d-flex">
                                    Tuesday
                                    <span class="ms-auto">10:00 - 23:00</span>
                                </li>
                                <li class="list-unstyled-item list-hours-item d-flex">
                                    Wednesday
                                    <span class="ms-auto">10:00 - 23:00</span>
                                </li>
                                <li class="list-unstyled-item list-hours-item d-flex">
                                    Thursday
                                    <span class="ms-auto">10:00 - 23:00</span>
                                </li>
                                <li class="list-unstyled-item list-hours-item d-flex">
                                    Friday
                                    <span class="ms-auto">10:00 - 23:00</span>
                                </li>
                                <li class="list-unstyled-item list-hours-item d-flex">
                                    Saturday
                                    <span class="ms-auto">10:00 - 23:00</span>
                                </li>
                            </ul>
                            <p class="mb-5">
                                <em>
                                    <strong>Weserstr. 33</strong>
                                    <br>
                                    Frankfurt
                                </em>
                            </p>
                            <p class="mb-0">
                                <small><em>Call Anytime</em></small>
                                <br>
                                (380) 962-9583
                            </p>
                            <p class="mb-0">
                                <small><em>Email Us</em></small>
                                <br>
                                ukrainiancafe@mail.com
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid text-center">
            {% if user.is_authenticated %}
            <a class="btn btn-primary btn-xl text-uppercase" href="{% url 'add_booking' %}">Book a table</a>
            {% else %}
            <a class="btn btn-primary btn-xl text-uppercase" href="{% url 'account_login' %}">Book a table</a>
            {% endif %}
        </div>
    </div>
</div>
<!-- pre-footer-->
<div class="page-section prefooter" id="contact">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Be careful, you're gonna love it!</h2>
        </div>
    </div>
</div>
<!-- Menu Modals-->
<!-- Menu Appetizers modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'assets/img/close-icon.svg' %}"
                    alt="Close modal"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Appetizers details-->
                            <h2 class="text-uppercase">Appetizers</h2>
                            <ul class="list-inline">
                                <li>
                                    <strong>Forshmack</strong>
                                </li>
                                <li>
                                    <strong>Cheese</strong>
                                </li>
                                <li>
                                    <strong>Salo</strong>
                                </li>
                                <li>
                                    <strong>Potato salad</strong>
                                </li>
                                <li>
                                    <strong>Pickled cabbage</strong>
                                </li>
                                <li>
                                    <strong>Pickled mushrooms</strong>
                                </li>
                                <li>
                                    <strong>Nalysnyky with meat</strong>
                                </li>
                                <li>
                                    <strong>Herring</strong>
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Menu Soups modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'assets/img/close-icon.svg' %}"
                    alt="Close modal"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Soups details-->
                            <h2 class="text-uppercase">Soups</h2>
                            <ul class="list-inline">
                                <li>
                                    <strong>Borscht with grilled rib, sour cream and pampushky</strong>
                                </li>
                                <li>
                                    <strong>Zelenyi Borscht</strong>
                                </li>
                                <li>
                                    <strong>Solyanka</strong>
                                </li>
                                <li>
                                    <strong>Mushroom yushka</strong>
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main dishes modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'assets/img/close-icon.svg' %}"
                    alt="Close modal"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Main dishes details-->
                            <h2 class="text-uppercase">Main Dishes</h2>
                            <ul class="list-inline">
                                <li>
                                    <strong>Banosh:</strong>
                                    Corn porridge with cheese, mushrooms and bacon
                                </li>
                                <li>
                                    <strong>Holubtsi:</strong>
                                    Cabbage rolls stuffed with meat and rice
                                </li>
                                <li>
                                    <strong>Pork ribs</strong>
                                </li>
                                <li>
                                    <strong>Chicken Kyiv</strong>
                                </li>
                                <li>
                                    <strong>Varenyky:</strong>
                                    with potato / cheese / cabbage and mushrooms
                                </li>
                                <li>
                                    <strong>Deruny:</strong>
                                    potato pancakes served with sour cream
                                </li>
                                <li>
                                    <strong>Halushky with meat and cherries</strong>
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Desserts modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'assets/img/close-icon.svg' %}"
                    alt="Close modal"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Desserts details-->
                            <h2 class="text-uppercase">Desserts</h2>
                            <ul class="list-inline">
                                <li>
                                    <strong>Syrnyky:</strong>
                                    cheese pancakes served with sour cream
                                </li>
                                <li>
                                    <strong>Walnut stuffed prunes</strong>
                                </li>
                                <li>
                                    <strong>Nalysnyky:</strong>
                                    crepes stuffed with sweet cheese and raisins
                                </li>
                                <li>
                                    <strong>Varenyky with sweet cheese</strong>
                                </li>
                                <li>
                                    <strong>Varenyky with cherries</strong>
                                </li>
                                <li>
                                    <strong>Kyiv Cake</strong>
                                </li>
                                <li>
                                    <strong>Lviv Syrnyk:</strong>
                                    cheese pie
                                </li>
                                <li>
                                    <strong>Baked apples with nuts</strong>
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Drinks alcohol modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'assets/img/close-icon.svg' %}"
                    alt="Close modal"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Drinks alcohol details-->
                            <h2 class="text-uppercase">Drinks</h2>
                            <p class="item-intro text-muted">Alcohol</p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Spotykach:</strong>
                                    liqueur made of berries or fruits
                                </li>
                                <li>
                                    <strong>Horilka:</strong>
                                    ukrainian vodka
                                </li>
                                <li>
                                    <strong>Wine</strong>
                                </li>
                                <li>
                                    <strong>Beer</strong>
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Drinks non-alcohol modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'assets/img/close-icon.svg' %}"
                    alt="Close modal"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Drinks non-alcohol details-->
                            <h2 class="text-uppercase">Drinks</h2>
                            <p class="item-intro text-muted">Non-alcohol</p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Kvas</strong>
                                </li>
                                <li>
                                    <strong>Kysil</strong>
                                </li>
                                <li>
                                    <strong>Uzvar</strong>
                                </li>
                                <li>
                                    <strong>Kompot</strong>
                                </li>
                                <li>
                                    <strong>Water</strong>
                                </li>
                                <li>
                                    <strong>Juice</strong>
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
